.Node {
  min-height: 18px;
  min-width: 100px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  border-color: #ffffff;
}

.HeaderPanel {
  display: flex;
  justify-content: center;
  padding: 2px 5px;
}

.HeaderText {
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 5px;
}

.BodyPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5px 8px;
  height: 100%;
  gap: 3px;
}

.InputPortLabel {
  position: absolute;
  left: 22px;
  color: #eeeeee;
  font-size: 12px;
}

.HandleInput {
  background-color: #999988;
  border-color: #ffffff;
  border-radius: 2px;
  height: 15px;
  width: 15px;
  left: -7px;
}

.HandleOutput {
  background-color: #999988;
  border-color: #ffffff;
  border-radius: 2px;
  height: 15px;
  width: 15px;
  right: -6px;
}
