.json {
  justify-content: left;
  width: 100%;
}

/* colours inspired by gruvbox dark mode */

.easyedit-hover {
  background-color: #eeeeee;
}

/* first line not indented */
& > .line {
  margin-left: 0;
}

.line {
}

.key {
}

.select {
  color: #4caf50;
}

.select:hover {
  background-color: #cceecc;
}

.string {
  color: #4caf50;
}

.string:hover {
  background-color: #cceecc;
}

.linked {
  color: #797b19;
  font-style: italic;
}

.number {
  color: #83a598;
}

.number:hover {
  background-color: #555555;
}

.boolean {
  color: #d3869b;
}

.boolean:hover {
  background-color: #555555;
}

.protected {
  color: #888888;
}

.null {
  color: #cc241d;
}

.null:hover {
  background-color: #555555;
}
