.json {
  justify-content: left;
  color: #cccccc;
  background: #333333;
  width: 100%;
}

/* colours inspired by gruvbox dark mode */

.easyedit-hover {
  color: #fbf1c7;
  background-color: #555555;
}

/* first line not indented */
& > .line {
  margin-left: 0;
}

.line {
  margin-left: 1rem;
}

.key {
  font-weight: normal;
  margin-right: 0.5rem;
  color: #cccccc;
}

.string {
  color: #b8bb26;
}

.string:hover {
  background-color: #555555;
}

.number {
  color: #83a598;
}

.number:hover {
  background-color: #555555;
}

.boolean {
  color: #d3869b;
}

.boolean:hover {
  background-color: #555555;
}

.protected {
  color: #888888;
}

.null {
  color: #cc241d;
}

.null:hover {
  background-color: #555555;
}
