:root {
  --color-background-code: rgba(0, 0, 0, 0.35);
  --color-background-default: #081120;
  --color-button-background: #2a3343;
  --color-button-background-hover: #454950;
  --color-button-border: #18181a;
  --color-code: #c67bff;
  --color-default: #ffffff;
  --color-horizontal-rule: #454950;
  --color-link: #dcadff;
  --color-panel-background: #192230;
  --color-panel-background-alternate: #202124;
  --color-solid-resize-bar: #454950;
  --color-solid-resize-bar-handle: rgba(255, 255, 255, 0.2);
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: var(--color-background-default);
  color: var(--color-default);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#root {
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 2rem;
  bottom: 2rem;
}

p {
  margin: 0;
}
