.btn {
  border: 2px solid #04AA6D;
  background-color: #DDDDDD; /* Green */
  color: #04AA6D;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  min-width: 50px;
  min-height: 25px;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #04AA6D;
  color: #DDDDDD;
}

.btn:active {
  background-color: #008554;
  color: #DDDDDD;
}

.btn:disabled {
  background-color: #cccccc;
  color: #666666;
}
