name: electron-app

on:
  workflow_call:

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: electron-app
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v2
      # setuptools needs to be available globally for the yarn build script
      - name: Install setuptools
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools
      - name: Run tests
        run: |
          ./build_deps.sh
          ./run_tests.sh
