name: Nightly build
on:
  workflow_dispatch:
  schedule:
    - cron: "30 01 * * *"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: octokit/request-action@v2.x
        id: check_last_run
        with:
          route: GET /repos/${{github.repository}}/actions/workflows/nightly.yml/runs?per_page=1&status=completed
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: "echo Last nightly build: ${{ fromJson(steps.check_last_run.outputs.data).workflow_runs[0].head_sha }}"
    outputs:
      last_sha: ${{ fromJson(steps.check_last_run.outputs.data).workflow_runs[0].head_sha }}

  build:
    needs: [check]
    if: needs.check.outputs.last_sha != github.sha
    permissions: write-all
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@master
        with:
          node-version: 18
      - uses: nanasess/setup-chromedriver@v2
        with:
          chromedriver-version: "118.0.5993.89"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: build
        working-directory: ./electron-app
        shell: bash
        run: |
          ./build_deps.sh
          yarn
          yarn build
          yarn package
      # only publish builds if they pass post-build tests
      - name: postbuild-tests
        working-directory: ./electron-app
        shell: bash
        run: |
          ./run_postbuild_tests.sh
      - name: Build distributables
        working-directory: ./electron-app
        shell: bash
        run: |
          yarn make
      - name: Nightly build to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./electron-app/out/make/**/*!(.zip)
          tag: "nightly"
          overwrite: true
          file_glob: true
          release_name: "Nightly build"
