name: Pytest-backend

on:
  push:
    branches: [main]
    paths:
    - '.github/workflows/pytest.yml'
    - 'backend/**'
    - '!backend/README.md'

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest
    - name: Testing code with pytest
      run: |
        pytest $(git ls-files '*.py')
